.channel-view {
    position: relative;
    width: 100%;
}

.messages {
    padding: 0 2rem;
    height: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

.messages .message-item {
    padding: 0 0.5rem;
    cursor: pointer;
}

.messages .message-item:hover {
    border-radius: 0.2rem;
    background-color: var(--secondary-color);
}

.message-timestamp, .reply-text {
    color: var(--grayed-out);
    font-size: 1rem;
    font-weight: normal;
}

.reply-to {
    font-weight: bold;
    font-style: italic;
    color: var(--accent-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reply-line {
    vertical-align: bottom;
}

.contents {
    overflow-wrap: break-word;
}

.channel-view-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.channel-info-button {
    min-width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.channel-info-button:hover {
    color: var(--accent-color);
}

.channel-header-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-view-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
}

.message-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.message-form input {
    width: 50rem;
    height: 2.5rem;
    padding: 0.5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.message-divider {
    height: 2rem;
}

.reply-to-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 80%;
    padding: 0.3rem;
    margin: 0.5rem auto;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.reply-to-selection .reply-to {
    width: 90%;
}

.reply-to-selection .cancel-reply {
    cursor: pointer;
}

.reply-to-selection .cancel-reply:hover {
    color: var(--accent-color);
}
